@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Robot Condensed";
  src: url("./fonts/Roboto/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}



